<?xml version="1.0"?>
<yandex>
  <profiles>
    <default>
      <max_memory_usage>{{ clickhouse_max_mem_size }}</max_memory_usage>
      <max_partitions_per_insert_block>0</max_partitions_per_insert_block>
      <load_balancing>random</load_balancing>
    </default>

    <readwrite>
      <max_memory_usage>{{ clickhouse_max_mem_size }}</max_memory_usage>
      <max_partitions_per_insert_block>0</max_partitions_per_insert_block>
      <load_balancing>random</load_balancing>
    </readwrite>
  </profiles>

  <users>
    <default>
      <password_double_sha1_hex>0a28226f841fc055d52c4f71139b4a9556fcd5d8</password_double_sha1_hex>
      <networks>
        <ip>::/0</ip>
      </networks>
      <profile>default</profile>
      <quota>default</quota>
    </default>

    <rw_user>
      <password_double_sha1_hex>bbef5ca1115aabea6c3c8e3f9e1d8a4c8bc4e47d</password_double_sha1_hex>
      <networks>
        <ip>::/0</ip>
      </networks>
      <profile>readwrite</profile>
      <quota>readwrite</quota>
    </rw_user>
  </users>

  <quotas>
      <default>
          <interval>
              <duration>3600</duration>
              <queries>0</queries>
              <errors>0</errors>
              <result_rows>0</result_rows>
              <read_rows>0</read_rows>
              <execution_time>0</execution_time>
          </interval>
      </default>

      <readwrite>
          <interval>
              <duration>3600</duration>
              <queries>0</queries>
              <errors>0</errors>
              <result_rows>0</result_rows>
              <read_rows>0</read_rows>
              <execution_time>0</execution_time>
          </interval>
      </readwrite>
  </quotas>
</yandex>
