tickTime=3000
dataDir={{ zookeeper_data_dir }}
dataLogDir={{ zookeeper_log_dir }}
clientPort={{ zookeeper_port }}
admin.serverPort={{ zookeeper_admin_port }}
preAllocSize=8192
snapCount=1000
autopurge.snapRetainCount=6
autopurge.purgeInterval=72
initLimit=10
syncLimit=5
{% for host in groups.zookeeper_servers -%}
server.{{ loop.index }}={{ host }}:2888:3888
{% endfor -%}
