---

{% if cpu_architecture == 'amd64' -%}
clickhouse_common_uri:
  - name: clickhouse_common
    version: {{ clickhouse_version }}
    url: https://mirrors.tuna.tsinghua.edu.cn/clickhouse/rpm/stable/x86_64/clickhouse-common-static-{{ clickhouse_version }}-2.x86_64.rpm 

clickhouse_server_uri:
  - name: clickhouse_server
    version: {{ clickhouse_version }}
    url: https://mirrors.tuna.tsinghua.edu.cn/clickhouse/rpm/stable/x86_64/clickhouse-server-{{ clickhouse_version }}-2.noarch.rpm 

clickhouse_client_uri:
  - name: clickhouse_client
    version: {{ clickhouse_version }}
    url: https://mirrors.tuna.tsinghua.edu.cn/clickhouse/rpm/stable/x86_64/clickhouse-client-{{ clickhouse_version }}-2.noarch.rpm 

zookeeper_server_uri:
  - name: zookeeper_server
    version: {{ zookeeper_version }}
    url: https://mirrors.tuna.tsinghua.edu.cn/apache/zookeeper/zookeeper-{{ zookeeper_version }}/apache-zookeeper-{{ zookeeper_version }}-bin.tar.gz

{% endif %}